/* Estilos CSS customizados para Farmácia A Barateira */

/* Adicione aqui quaisquer estilos que não sejam cobertos pelo Tailwind ou que precisem de sobreposição */

body {
    font-family: 'Inter', sans-serif; /* Exemplo: Definir uma fonte padrão se não usar a do Tailwind */
}

/* Estilos para a barra de rolagem (opcional, para melhor aparência) */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

